{% extends "base.html" %}
{% block navigation %}
     <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="git")}}">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="docker")}}">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('simple_pages.show', page="cicd")}}">CICD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="flask")}}">Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="oops")}}">OOP-Design</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="aaa")}}">AAA Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="pylint")}}">PYLINT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="solid")}}">S.O.L.I.D.</a>
                            </li>
                        </ul>
    {% endblock %}

{% block content %}
    <h3> CI/CD</h3>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <h4>Introduction</h4>
                Continuous integration and continuous delivery/continuous deployment are abbreviated as CI and CD. In
                its most basic form, continuous integration (CI) is a modern software development method that involves
                making incremental code changes regularly and consistently. CI-triggered automated build-and-test stages
                ensure that code changes merged into the repository are trustworthy. As part of the CD process, the code
                is then provided swiftly and flawlessly. In the software sector, the CI/CD pipeline refers to the
                automation that allows incremental code changes to be delivered swiftly and reliably to production from
                developers' desktops.
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.pcloudy.com/wp-content/uploads/2020/03/2020-03-03-1024x518.png"
                             style="height: 50% !important; width: 100%"/>
                    </div>
                    <div class="col-8">
                        <h4>Creating Workflow</h4>
                        <ol>
                            <li>
                                Create a .github/workflows directory in your repository on GitHub if this directory does
                                not already exist.
                            </li>
                            <li>
                                In the .github/workflows directory, create a files named dev.yml and prod.yml "
                            </li>
                            <li>
                                Enter all the conditions and reqyuirements.

                            </li>
                        </ol>
                    </div>
                </div>

                <div class="col-4">

                    <br>
                    <img src="https://www.cyberark.com/wp-content/uploads/2021/11/cicd-pipelines-2.png"
                             style="height: 50% !important; width: 100%"/>



                </div>
            </div>

                <div class="col-4">
                    <img src="https://assets.website-files.com/5ff66329429d880392f6cba2/60d315cb607a32718b6e86c3_CICD%20pipelines%20work.png"
                             style="height: 50% !important; width: 100%"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>




                </div>

        </div>
{% endblock %}