{% extends "base.html" %}
{% block content %}
    <h3> Flask</h3>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>
                    Flask is a lightweight Python web framework with essential tools and capabilities for developing online applications in Python. Because you can build a web application rapidly using only a single Python file, it allows developers flexibility and is an accessible framework for beginning developers. Flask is also extendable, and it doesn't require complicated boilerplate code or a certain directory structure to get started.   </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/16037/preview_image/flask.png"
                             style="height: 50% !important; width: 100%"/>
                    </div>
                    <div class="col-8">

                        Learning Flask will allow you to quickly create web applications in Python. You can take advantage of Python libraries to add advanced features to your web application, like storing your data in a database, or validating web forms.
                    </div>
                </div>
                <div class="row">
                    <h4>
                        Testing
                    </h4>
                    <p>
                       Testing applications has become a standard skill set required for any competent developer today. The Python community embraces testing, and even the Python standard library has good inbuilt tools to support testing. In the larger Python ecosystem, there are a lot of testing tools. Pytest stands out among them due to its ease of use and its ability to handle increasingly complex testing needs.
                    </p>
                </div>

                <div class="row">
                    <p>
                    pytest is a framework that makes complicated testing for applications and libraries simple to design, test, and scale. It is the most widely used Python testing library. Plugins and extensions are the foundation of a robust testing ecosystem.
                </p>
<p>
    Pytest is designed to be a very extensible system with easy to develop plugins, and there are many plugins in the pytest that are used for a variety of reasons. Before releasing the code into production, it is critical to test it thoroughly.
</p>
                </div>

            </div>
            <div class="col-4">

            </div>
        </div>

    </div>
{% endblock %}