{% extends "base.html" %}
{% block navigation %}
     <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="git")}}">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="docker")}}">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="cicd")}}">CICD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="flask")}}">Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('simple_pages.show', page="oops")}}">OOP-Design</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="aaa")}}">AAA Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="pylint")}}">PYLINT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="solid")}}">S.O.L.I.D.</a>
                            </li>
                        </ul>
    {% endblock %}

{% block content %}
    <h3> Ooject Oriented Design</h3>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>
                    The technique of planning a system of interacting objects for the goal of addressing a software
                    problem is known as object-oriented design. It's one method of software development. </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.roberthalf.com/sites/default/files/2018-03/Object%20oriented%20programming.jpg"
                             style="height: 50% !important; width: 100%"/>
                    </div>
                    <div class="col-8">

                        An object is a collection of enclosed data and processes that comprise a single entity. The
                        'object interface' specifies how to interact with the object. The interaction of these items
                        describes an object-oriented application. Object-oriented design is the process of creating
                        objects and their interactions in order to solve a problem that has been recognized and
                        documented through object-oriented analysis.
                    </div>
                </div>
                <div class="row">
                    <h4>
                        Encapsulation
                    </h4>
                    <p>
                        One of the core principles in object-oriented programming is encapsulation (OOP). It refers to
                        the concept of encapsulating data and the functions that operate with it in a single unit, such
                        as a Java class. This idea is frequently used to hide an object's internal state representation
                        from the outside world.
                    </p>
                    <h4>
                        Abstraction
                    </h4>
                    <p>
                        Abstraction is the process of describing crucial and unique traits without incorporating any
                        background information or explanation. Data abstraction makes database design easier.
                    </p>
                </div>

                <div class="row">
                    <h4>
                        Polymorphism
                    </h4>
                    <p>
                        Data polymorphism refers to the ability of data to be processed in multiple ways. It allows you
                        to complete the same activity in a variety of ways. It includes of method overloading and
                        overriding, which entails writing a method once and executing several jobs with the same name.
                    </p>
                    <h4>
                        Inheritance
                    </h4>
                    <p>
                        Inheritance refers to a class's ability to take on the capabilities or properties of another
                        class, referred to as the parent class. We inherit properties from other classes when we write a
                        class. As a result, when we build a class, we don't have to write all of the properties and
                        functions again because they can be inherited from another class. Inheritance allows the user to
                        reuse code and reduce redundancy whenever possible.
                    </p>
                </div>

            </div>
            <div class="col-4">
                <div class="row">
                    <img src="https://www.educative.io/v2api/editorpage/4792707659595776/image/5909454286487552"
                         style="height: 50% !important; width: 100%"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/OOP.svg/1200px-OOP.svg.png"
                         style="height: 50% !important; width: 100%"/>


                </div>

            </div>
        </div>

    </div>
{% endblock %}