{% extends "base.html" %}
{% block navigation %}
     <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="git")}}">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="docker")}}">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="cicd")}}">CICD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="flask")}}">Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="oops")}}">OOP-Design</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="aaa")}}">AAA Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="pylint")}}">PYLINT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('simple_pages.show', page="solid")}}">S.O.L.I.D.</a>
                            </li>
                        </ul>
    {% endblock %}

{% block content %}
    <h3> SOLID </h3>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>
                    SOLID is a mnemonic acronym representing five design principles in software engineering that aim to
                    make software designs more clear, adaptable, and maintainable. The principles are a subset of
                    several that American software engineers support. </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img src="https://images.squarespace-cdn.com/content/v1/5ee6ced9ad12c31b3a986093/1594700989854-B74R9USLEHL600043T1P/1_7T_MQ8cFP1TgKBkf8dDWeg.jpeg"
                             style="height: 50% !important; width: 100%"/>
                    </div>
                    <div class="col-8">


                    </div>
                </div>
                <div class="row">
                    <h4>
                        The SOLID ideas are:
                    </h4>
                    <p>
                    <ul>
                        <li>
                            "There should never be more than one reason for a class to change," says the
                            single-responsibility concept. To put it another way, each class should only have one task.
                        </li>
                        <li>
                            "Software entities should be open for extension but closed for modification," says the
                            open–closed principle.
                        </li>
                        <li>
                            "Functions that employ pointers or references to base classes must be able to use objects of
                            derived classes without knowing it," according to the Liskov substitution principle.
                        </li>
                        <li>
                            "Many client-specific interfaces are preferable than one general-purpose interface," says
                            the interface segregation concept.
                        </li>
                        <li>
                            "Rely on abstractions, not concretions," says the dependency inversion principle.
                        </li>

                    </ul>
                    </p>
                </div>

                <div class="row">

                </div>

            </div>
            <div class="col-4">
                <div class="row">
                    <img src="https://miro.medium.com/max/1400/1*QXKvE2F44XTkBi3YDvroWw.jpeg"
                         style="height: 50% !important; width: 100%"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="https://procodeguide.com/wp-content/uploads/2021/07/Solid-Principles-in-C-.NET-Core-5.png"
                         style="height: 50% !important; width: 100%"/>


                </div>

            </div>
        </div>

    </div>
{% endblock %}